* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF url("images/Screenshot_1.png");
    background-size: 2000px 1800px;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    color: black;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-style: italic;
    font-size: 22px;
    
}
.main{
    text-align: center;
}

.pagina{
    display: none;
}

.active{
    display: block;
}

nav{
    bottom: 0!important;
    position: fixed!important;
}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin: auto;
  display: block;
  border-bottom: 30px solid black;
}

